body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#canvas1 {
    border: 5px solid white;
}
#playerImage, #backgroundImage, #enemyImage {
    display: none;
}